@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@300;400;700&family=Roboto:wght@100;300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #1f1f1f;
    max-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}

canvas{
    background-color: #111;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.score{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.score--value{
    font-weight: 700;
    font-size: 4rem;
    display: block;
    margin-top: -10px;
}

.menu-screen{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final-score{
    font-weight: 500;
    font-size: 1.5rem;
}

.btn-play{
   border: none;
   border-radius: 100px;
   padding: 10px 15px 10px 12px;
   font-size: 1rem;
   font-weight: 600;
   color: #333;
   margin-top: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
   cursor: pointer;
} 

.phoneButtons{
    width: 60%;
    display: none;
    flex-direction: column;
}

.phoneButtons button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #000;
    border: 1px solid white;
}

.phoneButtons button i{
    font-size: 20px;
    color: #fff;
}

.esquerda--direita{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: .25rem 0;
}

#baixo{
    margin: auto;
}

#cima{
    margin: auto;
}


@media screen and (max-width: 1400px) {
    body{
        overflow-y: hidden;
    }
    canvas{
        width: 450px;
    }
}

@media screen and (max-width: 1030px) {
    .phoneButtons{
        display: flex;
    }
}

@media screen and (max-width: 786px) {
    canvas{
        width: 350px;
    }
    .phoneButtons{
        display: flex;
    }
}

